#container{
    background-color: snow;
    width: 205vh ;
    height: 97vh;
    padding: 0;
}

.row{
    width: 100%;
    display: flex;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.rectangle_gris{
    background-color: lightgray;
    height: 10vh;
    margin: 5px;
    width: 50%;
}

.carre_rouge{
    background-color: #a40000;
    height: 30vh;
    width: 33%;
    margin: 20px;
}

.carre_bleu{
    background-color: rgb(3, 171, 190);
    width: 25%;
    height: 20vh;
    margin: 5px;
}

.vert {
    background-color: #bfdd4D;
    width: 65%;
    height: 20vh;
    margin: 10px;
    margin-right: 20px;
    border-radius: 20px 20px;
  }
  
  .bleu {
    width: 35%;
    background-color: #4e9bdf;
    height: 20vh;
    margin-left: 20px;
    margin: 10px;
    border-radius: 20px 20px;
  }