.container{
    background-color: snow;
}

.row{
    width: 100vw;
    height: 10vh;
    display: flex;
    border: 1px solid #000;
}

.logo{
    width: 5vw;
    height: 5vh;
    margin-left: 3vw;
    margin-right: 48vw;
}

.viewlogo{
    width: 13vw;
    height: 10vh;
    margin-left: 3vw;
}

.navbar{
    border: 1px solid #000;    
}

ul{
    display: flex;
    width: 62vw;
    height: 10vh;
}

li{
    list-style-type: none;
    margin-right: 5vw;
    margin-top: 2vh;
}