#container{
    background-color: snow;
    width: 100vw ;
    height: 100vh;
}

.rows{
    width: 100vw;
}

#first{
    background-color: #480202;
    margin-bottom: 2px;
    height: 15vh;
}

#second{
    background-color: #1d0247;
    margin-bottom: 10px;
    height: 25vh;
}

#third{
    background-color: #470243;
    margin-bottom: 7px;
    height: 40vh;
}

#fourth{
    background-color: #333437;
    margin-bottom: 2px;
    height: 5vh;
}

#fifth{
    background-color: #b5a72c;
    height: 10vh;
}