.container{
    width: 100%;
    border: 1px solid #000;
}

.header{
    background-color: red;
    height: 9vh;
    margin: 1vh;
}

.nav{
    background-color: #eeab29;
    height: 5vh;
    margin: 1vh;
}

.firstrow{
    margin-top: 2vh;
    margin-bottom: 0;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 12vh;
    height: 56vh;
}

.bloc1{
    display: flex;
}

.firstcol{
    height: 28vh;
    width: 100%;
    background-color: #a6bf0c;
}

.secondcol{
    height: 28vh;
    width: 100%;
    background-color: #0d1fbf;
}

.thirdcol{
    height: 28vh;
    width: 100%;
    background-color: #920dc0;
}

.fourthcol{
    height: 28vh;
    width: 100%;
    background-color: #bf0d0d;
}

.footer{
    background-color: #ee2a7c;
    height: 6.5vh;
    margin: 1vh;
    margin-top: 9vh;
}